include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Цветовая схема

				.container-dashboard__content
					h1 Моя карточка
					+info-card-ui('Быстрые результаты', 'Контекст может похвастаться наиболее быстрыми результатами уже в первые дни запуска')
					+info-card-ui('Быстрые результаты', 'Контекст может похвастаться наиболее быстрыми результатами уже в первые дни запуска', 1, 45, 45)
					pre.
						+info-card-ui(title, txt)
					
					+info-card-ui('Быстрые результаты', 'Контекст может похвастаться наиболее быстрыми результатами уже в первые дни запуска', 1, 45, 45)
					pre.
						+info-card-ui('Быстрые результаты', 'Контекст может похвастаться наиболее быстрыми результатами уже в первые дни запуска', 1, 45, 45)
					hr
					h3 Технологии карточка
					.techno-card-wrapper
						.techno-card
							.techno-card__img
								img(src='../img/techno-logo/t1.webp', srcset='../img/techno-logo/t1@2x.webp 2x' width='70' height='70' loading='lazy' alt='img')
							.techno-card__txt
								.techno-card__title Keys So
								p  Платформа для автоматизации работы, которая позволяет и
						.techno-card
							.techno-card__img
								img(src='../img/techno-logo/t1.webp', srcset='../img/techno-logo/t1@2x.webp 2x' width='70' height='70' loading='lazy' alt='img')
							.techno-card__txt
								.techno-card__title Keys So
								p  Платформа для автоматизации работы, которая позволяет и 
						.techno-card
							.techno-card__img
								img(src='../img/techno-logo/t1.webp', srcset='../img/techno-logo/t1@2x.webp 2x' width='70' height='70' loading='lazy' alt='img')
							.techno-card__txt
								.techno-card__title Keys So
								p  Платформа для автоматизации работы, которая позволяет и 
						.techno-card
							.techno-card__img
								img(src='../img/techno-logo/t1.webp', srcset='../img/techno-logo/t1@2x.webp 2x' width='70' height='70' loading='lazy' alt='img')
							.techno-card__txt
								.techno-card__title Keys So
								p  Платформа для автоматизации работы, которая позволяет и
						.techno-card
							.techno-card__img
								img(src='../img/techno-logo/t1.webp', srcset='../img/techno-logo/t1@2x.webp 2x' width='70' height='70' loading='lazy' alt='img')
							.techno-card__txt
								.techno-card__title Keys So
								p  Платформа для автоматизации работы, которая позволяет и 
						.techno-card
							.techno-card__img
								img(src='../img/techno-logo/t1.webp', srcset='../img/techno-logo/t1@2x.webp 2x' width='70' height='70' loading='lazy' alt='img')
							.techno-card__txt
								.techno-card__title Keys So
								p  Платформа для автоматизации работы, которая позволяет и 
						.techno-card
							.techno-card__img
								img(src='../img/techno-logo/t1.webp', srcset='../img/techno-logo/t1@2x.webp 2x' width='70' height='70' loading='lazy' alt='img')
							.techno-card__txt
								.techno-card__title Keys So
								p  Платформа для автоматизации работы, которая позволяет и 
						.techno-card
							.techno-card__img
								img(src='../img/techno-logo/t1.webp', srcset='../img/techno-logo/t1@2x.webp 2x' width='70' height='70' loading='lazy' alt='img')
							.techno-card__txt
								.techno-card__title Keys So
								p  Платформа для автоматизации работы, которая позволяет и 
						