
.catalogy-tags{
	display: flex;
	flex-wrap: wrap;
	row-gap:21px;
	column-gap:18px;
	margin-bottom: 50px;
	@media (max-width: 767px) {
	 width: calc(50% + 50vw);
	 overflow: hidden;
	 overflow-x: auto;
	 flex-wrap: nowrap;
	 scrollbar-width: none;
	 &::-webkit-scrollbar{display: none;}
	}
}
.catalogy-bottom{
	justify-content: space-between;
	column-gap:40px;
	margin-top: 112px;
	.pagination{
		margin-left: auto;
	}
	@media (max-width: 1699px) {
		margin-top: 27px;
	}
	@media (max-width: 1023px) {
				
	  flex-direction: column;
	  justify-content: center;
	  row-gap: 14px;
		.pagination {
			margin-left: auto;
			margin-right: auto;
			
		}
	}
	@media (max-width: 767px) {
	 margin-top: 22px;
	 width: fit-content;
	 margin-inline: auto;
	 .btn{width: 100%;}
	}
}