.promo.promo--service{

	.promo-banner{margin-top: 55px;padding-top: 40px; padding-bottom: 50px;}
	
	.promo-title{
		width: min(1180px, 100%);
	}
	h1{margin-bottom: 50px;}
	.subtitle{
		max-width: 670px;
		font-size: 30px;
		line-height: 1.17;
		margin-bottom: 30px;
		@media (max-width: 1199px) {
			font-size: calc(16px + 30*(100vw - 390px) / 1530);
		}
	}
	.promo-image{
		width: 355px;
		height: 265px;
		display: flex;
		transform: translate(-43%, 28%);
		.img-lamp{
			position: relative;
			top:84px;
		}
		@media (max-width: 1439px) {
			transform: translate(-27%, 28%);
		}
		@media (max-width: 1199px) {
		 position: relative;
		 transform: unset;
		 inset: auto;
		 width: 100%;
		 max-width: 700px;
		 justify-content: center;
		}
	}
	
}
