.promo.promo-inner{

	.promo-banner{
		margin-top: 25px;padding-top: 40px; padding-bottom: 50px;
		row-gap:80px;
		min-height: 623px;
		display: flex;
		flex-direction: column;
		
		@media (max-width: 1439px) {
			min-height: 440px;
			row-gap:40px;
			padding: 30px;
			row-gap:40px;
		}
		@media (max-width: 1199px) {
			row-gap:20px;
			padding: 30px;
		}
		@media (max-width: 767px) {
			min-height: 620px;
		}
		@media (max-width: 599px) {
			margin-top: 20px;
			padding: 24px 16px;
			.promo-title{row-gap:24px;}
		}
	}
	
	.promo-title{
		width: min(1180px, 65%);
		margin-bottom: 0;
		display: flex;
		flex-direction: column;
		row-gap:50px;
		@media (max-width: 1439px) {
			row-gap:30px;
			
		}
	}
	.promo-image{
		position: absolute;
		bottom: 0;
		top: 0;
		right: 0;
		width: 35%;
		img{object-fit: contain;}
		.promo-slider{
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 2;
			width: 420px;
			
		}
		@media (max-width: 767px) {
		position: relative;
		width: 100%;
		img{
			width: 100%;
			height: auto;
			max-height: 260px;
		}
		
		}
	}
	h1{margin-bottom: 0;}
	.subtitle{
		width: 33ch;
		font-size: 30px;
		line-height: 1.17;
		margin-bottom: 0;
		@media (max-width: 1799px) {
			font-size: 24px;
		}
		@media (max-width: 1439px) {
			font-size: 18px;
		}
		
		@media (max-width: 767px) {
			font-size: 15px;
		}
	}
	.promo-bottom{
		width: fit-content;
		margin-top: auto;
		flex-grow: 0;
		@media (max-width: 599px) {
			width: 100%;
			max-width: 300px;
		}
	}
}
// .promo-banner{
	
// 	.promo-title{
// 		width: 54%;
// 	}
	
// 	@media (max-width: 1439px) {
// 		.promo-title{width: 60%;}
// 		.promo-image{width: 38%;}
			
		
// 	}
// 	@media (max-width: 1199px) {
// 		.promo-image{
// 			width: 100%;
// 			display: flex;
// 			justify-content: center;
// 			height: 300px;
// 			img{
// 				width: auto;
// 				height: 100%;
// 			}
// 		}
// 		.promo-title{width: 70%;}
// 	}
// 	@media (max-width: 767px) {
// 		.promo-title{width: 100%; max-width:350px;}
// 	}
// }