//========= benefits cards======
section.benefits-info
	.container
		.title-group
			h2.title Контекстная реклама 
			.title-sub Почему ее заказывают?
		.info-cards-wrapper.grid-four-col
			.info-card
				.info-card__icon
					img(src="./img/info-cards/icon1.svg", width="100"  height="100" alt="img")
				.card-title Быстрые результаты
				.card-text
					p Контекст может похвастаться наиболее быстрыми результатами уже в первые дни запуска.
			.info-card
				.info-card__icon
					img(src="./img/info-cards/icon2.svg", width="100"  height="100" alt="img")
				.card-title Поиск любой аудитории
				.card-text
					p Контекст может похвастаться наиболее быстрыми результатами уже в первые дни запуска.

			.info-card
				.info-card__icon
					img(src="./img/info-cards/icon3.svg", width="100"  height="100" alt="img")
				.card-title Контроль аналитики
				.card-text
					p Контекст может похвастаться наиболее быстрыми результатами уже в первые дни запуска.

			.info-card
				.info-card__icon
					img(src="./img/info-cards/icon4.svg", width="100"  height="100" alt="img")
				.card-title Гибкость и масштабируемость
				.card-text
					p Позволяет быстро вносить изменения в рекламные кампании.