section.geo
	.container
		.flex-header
			h2.title Клиенты
			p Наша география 
		.geo-map
			img.wh-100(src="./img/geo.webp", width="1630" height="800" alt="alt")
			
			//==== RUSSIA ====
			.country-box.country-russia
				svg.svg-russia
					use(href='./img/sprite.svg#svg-russia')
				p.country-name  Russian Federation
				p.city-one Petersburg
				p.city-two Moscow
				p.city-three Kazan
				p.city-four Rostov
				p.city-five Krasnodar
				p.city-six Ufa
				p.city-seven Ekaterinburg
				p.city-eight Chelyabinsk
				p.city-nine Omsk
				p.city-ten Krasnoyarsk
				p.city-eleven Novosibirsk
				p.city-twelve Yakutsk
				p.city-thirteen Vladivostok
				p.city-fourteen Kamchatka

			//==== Belarus ====
			.country-box.country-belarus
				svg.svg-belarus
					use(href='./img/sprite.svg#svg-belarus')
				p.country-name  Belarus
				p.city-one Minsk
			
			//==== CHINA ====
			.country-box.country-china
				svg.svg-china
					use(href='./img/sprite.svg#svg-china')
				p.country-name  China
				p.city-two Begin
				p.city-one Shanghai

			
			//==== ARABIA ====
			.country-box.country-arabia
				svg.svg-arabia
					use(href='./img/sprite.svg#svg-arabia')
				p.country-name  Saudi Arabia
				p.city-one Riyadh
			
			//==== ITALY ====
			.country-box.country-italy
				svg.svg-italy
					use(href='./img/sprite.svg#svg-italy')
				p.country-name  Italy
				p.city-one Roma
			
			//==== USA ====
			.country-box.country-usa
				svg.svg-usa
					use(href='./img/sprite.svg#svg-usa')
				p.country-name  USA
				p.city-one Salt Lake City
				p.city-two Las Vegas