section.geo
	.container
		.flex-header
			h2.title Клиенты
			p Наша география 
		.geo-map
			img.wh-100(src="./img/geo.webp", width="1630" height="800" alt="alt")
			//==== Belarus ====
			.country-box.country-belarus
				svg.svg-belarus
					use(href='./img/sprite.svg#svg-belarusse')
				p.country-capital  Belarus
				p.city-one Minsk
			
			//==== CHINA ====
			.country-box.country-china
				svg.svg-china
					use(href='./img/sprite.svg#svg-china')
				p.country-capital  Begin
				p.city-one Shanghai