section.our-clients
	.container
		h2.title Клиенты которые работают с нами
		.clients-swiper.swiper
			.swiper-wrapper
				.swiper-slide
					.client-card
						img(src="./img/clients/pilki.svg", data-src="./img/clients/pilki-hover.svg" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/pilki.svg", data-src="./img/clients/pilki-hover.svg" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/pilki.svg", data-src="./img/clients/pilki-hover.svg" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/pilki.svg", data-src="./img/clients/pilki-hover.svg" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/pilki.svg", data-src="./img/clients/pilki-hover.svg" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/pilki.svg", data-src="./img/clients/pilki-hover.svg" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/pilki.svg", data-src="./img/clients/pilki-hover.svg" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/pilki.svg", data-src="./img/clients/pilki-hover.svg" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/pilki.svg", data-src="./img/clients/pilki-hover.svg" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/pilki.svg", data-src="./img/clients/pilki-hover.svg" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/pilki.svg", data-src="./img/clients/pilki-hover.svg" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/pilki.svg", data-src="./img/clients/pilki-hover.svg" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/pilki.svg", data-src="./img/clients/pilki-hover.svg" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/pilki.svg", data-src="./img/clients/pilki-hover.svg" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/pilki.svg", data-src="./img/clients/pilki-hover.svg" alt="alt")
