section.our-portfolio
	.container
		h1.title Команда
		.portfolio-slider.swiper
			.swiper-wrapper
				.swiper-slide
					.portfolio-card
						img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfOhAqf6sj1VvqMXhBzE33bV0dnsDnzpidVQ&s", width="643" height="310" alt="img")
				.swiper-slide
					.portfolio-card
						img(src="./img/test-slider/test.webp", width="643" height="310" alt="img")
				.swiper-slide
					.portfolio-card
						img(src="./img/test-slider/test.webp", width="643" height="310" alt="img")
				.swiper-slide
					.portfolio-card
						img(src="./img/test-slider/test.webp", width="643" height="310" alt="img")
				.swiper-slide
					.portfolio-card
						img(src="./img/test-slider/test.webp", width="643" height="310" alt="img")
			
			.portfolio-pagination.swiper-pagination
