//========= SEO MAP =======
section.seo-map
	.container
		
		h2.title  Преимущества SEO - продвижения
		.title-sub  Почему его заказывают?
		//========= seo map======
		
		.seo-map-content
			
			//==== список слева ====
			ul.seo-map-list.seo-map-list--left
				li 
					span Traffie monitoring
				li 
					span Content
				li 
					span Strategy
				li 
					span Social networt
				li 
					span Feedback
				li 
					span Ranking
				li 
					span links building
			p.seo-map-title SEO
			//==== список справа ====
			ul.seo-map-list.seo-map-list--right
				li 
					span Keyword research
				li 
					span Links building
				li 
					span Softuire development
				li 
					span Sitemap optimization
				li 
					span Web design
				li 
					span Website optimization
				li 
					span links building


		//========= seo cards======
		.info-cards-wrapper.grid-four-col
			.info-card
				.info-card__title Самый конверсионный трафик
				p Пользователи доверяют результатам органической выдачи. Потенциальный клиент не чувствует, что ему что-то HABA3BIBAKOT, BeAb OH CaM opmupoBan con запрос.

			.info-card
				.info-card__title Результат который остается на долго
				p В отличие от рекламных каналов, эффект которых исчезает или значительно ослабевает при остановке финансирования, результаты SEO-продвижения продолжают приносить клиентов месяцы и годы после прекращения работ над сайтом.
			.info-card
				.info-card__title Самая дешевая стоимость за 1 посетителя
				p Поисковое продвижение во много раз дешевле рекламы в СМИ, и в большинстве случаев значительно дешевле других видов интернет-рекламы. С ростом посещаемости снижается стоимость привлечения 1 посетителя.
			.info-card
				.info-card__title Доверие к бренду
				p Нахождение сайта на верхних позициях поисковых систем повышает уровень его репутации в глазах целевой аудитории. Это незамедлительно сказывается на росте доверия к компании.
