//====SEO STAGES ====
section.seo-stages
	.container
		.title-group
			h2.title Этапы SEO-продвижения сайта
			.title-sub Алгоритм нашей работы
		
		.seo-stages-content.custom-tabs
			.custom-tab-item
				.custom-tab-btn.round-link
					p Анализ ниши, конкурентов и целевой аудитории
				.custom-tab-hidden
					.custom-tab-body
						.custom-tab__title Анализ ниши, конкурентов и целевой аудитории
						p Изучаем целевую аудиторию, её потребности и страхи. Анализируем конкурентов в Казани и топовые ресурсы, их методы выхода в ТОП поисковых систем.
						p Предлагаем комплексное продвижение сайта в Яндексе и Google, услуги настройки и ведения рекламы в Яндекс Директе и Google Adwords, таргетированную рекламу, ведение аккаунтов компании в соцсетях.
			
			.custom-tab-item
				.custom-tab-btn.round-link
					p Аудит сайта
				.custom-tab-hidden
					.custom-tab-body
						.custom-tab__title Content 2
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			
			.custom-tab-item
				.custom-tab-btn.round-link
					p Формирование семантического ядра (СЯ)
				.custom-tab-hidden
					.custom-tab-body
						.custom-tab__title Content 3
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			
			.custom-tab-item
				.custom-tab-btn.round-link
					p Техническая оптимизация
				.custom-tab-hidden
					.custom-tab-body
						.custom-tab__title Content 4
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			
			.custom-tab-item
				.custom-tab-btn.round-link
					p Оптимизация посадочных страниц
				.custom-tab-hidden
					.custom-tab-body
						.custom-tab__title Content 5
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.custom-tab-item
				.custom-tab-btn.round-link
					p Внешняя seo-оптимизация
				.custom-tab-hidden
					.custom-tab-body
						.custom-tab__title Content 6
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.custom-tab-item
				.custom-tab-btn.round-link
					p Итоговый мониторинг показателей
				.custom-tab-hidden
					.custom-tab-body
						.custom-tab__title Content 7
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.