section.article.custom-text
	.container
		.white-wrapper
		
			.aside-grid
				.aside-grid-content#article-content
					p Понятие ИКС ввели в 2018 году, оно так и расшифровывается – индекс качества сайта. До 2018 года использовали термин тИЦ, то есть индекс качества цитирования. Тогда считалось, что качество ресурса определяется, прежде всего, частотой его упоминаний в интернете. Это означало, что чем больше ссылочный профиль сайта, тем выше его авторитет. Однако вследствие такого подхода в поисковую выдачу стали регулярно попадать сайты с контентом низкого качества, поэтому впоследствии теорию пересмотрели.
					p В 2024 году показатель ИКС регулярно отслеживают и улучшают, особенно при SEO-продвижении в ПС Яндекс. Насколько важен этот индекс и какие сайты считаются «качественными» с точки зрения Яндекса – разберемся.
				
					h2#anchor1 Что такое ИКС
					p ИКС, или индекс качества сайта – это рейтинг, который Яндекс присваивает каждому ресурсу, основываясь на степени его полезности.
					p Система оценивает, насколько сайт авторитетен и удобен в работе, насколько полезен представленный на нем контент, закрывает ли он потребности пользователей. Оценка, которую дает ПС, выражается числом от нуля до бесконечности.
					blockquote Отметим, что индекс качества имеет значение только в поиске Яндекса. Ранее, до 2016 года, Google использовал похожий показатель PageRank, но в 2024 году аналогичных метрик у Гугла нет.
					
					h2#anchor2 Как формируется ИКС
					p Формируя оценку качества каждого сайта, Яндекс в первую очередь «смотрит» на два показателя – авторитетность ресурса и его пользу. Они включают в себя еще несколько аспектов. По этим аспектам система сравнивает вас с конкурентами и присваивает вам более высокий или низкий рейтинг.
					
					h2#anchor3 Авторитетность
					p #[strong Система считает авторитетными сайты, которым пользователи могут доверять. Уровень авторитетности складывается из нескольких показателей:]

					ul
						li Ссылочная масса, то есть количество ссылок на сайт в интернете и их качество.
						li Процент органического трафика, который приходит из поиска Яндекса.
						li Процент брендового трафика, то есть число посетителей, которые приходят по запросам, содержащим название бренда/компании/продукта.
						li Показатель кликабельности сниппетов в поисковой выдаче.
					
					h2#anchor4 Полезность
					p #[strong Рассчитывая степень полезности, ПС оценивает:]
					ul
						li Поведенческие факторы сайта: сколько времени посетители проводят на страницах, насколько глубоко их просматривают и т.д.
						li Разнообразие источников перехода: откуда приходит больше всего посетителей.
						li Количество новых и повторных посещений, соотношение тех, кто уже был на сайте ранее, и тех, кто пришел впервые
					
					h2#anchor5 Влияет ли ИКС сайта на SEO продвижение
					p Официальных данных о влиянии индекса качества сайта на его ранжирование в выдаче Яндекс не предоставляет. Если сравнить ИКС лидеров в ТОПе выдачи, то можно обнаружить существенные различия:
					
				
				//=======sidebar====
				.aside-grid-sidebar
					.dark-block
						ul.article-menu#article-menu
							