section.team
	.container
		h2.title Команда экспертов
		.team-content
			.team-card
				//=== верхний ряд ===
				.team-card__row
					.team-card__img
						img(src="./img/team/team1.webp", srcset="./img/team/team1@2x.webp 2x" width="174" height="182" alt="alt")
					.team-card__info
						p.team-card__name Глеб<br>Савов
						p.team-card__range CEO / Эксперт по маркетингу
						p.team-card__exper В DIGITAL 10 лет 
						.tags-wrapper
							.tag #таргет
							.tag #маркетинг
							.tag #менежмент
				//=== нижний ряд ===
				.team-card__row
					.team-card__icon
						img(src="./img/team/team1-icon.webp", srcset="./img/team/team1-icon@2x.webp 2x" width="134" height="126" alt="alt")
					.team-card__text
						p Разработаю стратегию успеха для вашего бизнеса. Веду “ADs’кий подкаст” о главных трендах в маркетинге
						a(href="#!").mini-btn
							span Подробнее
							span.yout-icon
