//====TECHNOLOGY ====
section.technology
	.container
		h2.title Технологии
		.technology-content
			.technology-slider.swiper
				.swiper-wrapper
					.swiper-slide
						+flex-card(1, 'Keys So', 'Сервис анализа конкурентов')
					.swiper-slide
						+flex-card(2, 'Word-keeper', 'Платформа для автоматизации работы, которая позволяет и')
					.swiper-slide
						+flex-card(3, 'Megaindex', 'Платформа для автоматизации работы, которая позволяет и')
					.swiper-slide
						+flex-card(4, 'Topvizor', 'Платформа для автоматизации работы, которая позволяет и')
					.swiper-slide
						+flex-card(5, 'Semrush', 'Сервис анализа конкурентов')
					.swiper-slide
						+flex-card(6, 'Labrika', 'Платформа для автоматизации работы, которая позволяет и')
					.swiper-slide
						+flex-card(7, 'PR-CY', 'Платформа для автоматизации работы, которая позволяет и')
					.swiper-slide
						+flex-card(8, 'Вордстат', 'Платформа для автоматизации работы, которая позволяет и')
				
				//=== slider pagination
				.technology-pagination.swiper-pagination
				