//=== WHAT IS SEO ===
section.what-seo
	.container
		h1.title Что такое SEO?
		.what-seo__text
			.what-seo__left
				p SEO (Search Engine Optimization) — это комплекс мероприятий по внутренней и внешней оптимизации сайта для поднятия позиций в результатах выдачи поисковых систем по определённым запросам пользователей.
			.what-seo__right
				p Цель SEO — увеличение сетевого трафика (для информационных ресурсов), потенциальных клиентов (для коммерческих ресурсов) и последующей монетизации этого трафика (получение дохода).
		.scroll-wrapper
			.what-seo-wrapper
				.seo-item
					.seo-item-txt
						.seo-item__icon
							img(src="./img/seo-icons/seo1.webp", srcset="./img/seo-icons/seo1@2x.webp 2x" width="135" height="146" alt="icon")
						.seo-item__name Трафик

				.seo-item
					.seo-item-txt
						.seo-item__icon
							img(src="./img/seo-icons/seo2.webp", srcset="./img/seo-icons/seo2@2x.webp 2x" width="178" height="145" alt="icon")
						.seo-item__name Сайт
				.seo-item
					.seo-item-txt
						.seo-item__icon
							img(src="./img/seo-icons/seo3.webp", srcset="./img/seo-icons/seo3@2x.webp 2x" width="238" height="151" alt="icon")
						.seo-item__name Продажи
				.seo-item
					.seo-item-txt
						.seo-item__icon
							img(src="./img/seo-icons/seo4.webp", srcset="./img/seo-icons/seo4@2x.webp 2x" width="193" height="155" alt="icon")
		
						.seo-item__name Прибыль
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js")
		script.
			const scrollWrapper = document.querySelector('.scroll-wrapper');
			const whatSeoWrapper = document.querySelector('.what-seo-wrapper');

			let timeline; // Объявляем переменную для хранения анимации

			// Функция для инициализации анимации
			function initAnimation() {
				const scrollWrapperWidth = scrollWrapper.offsetWidth;
				const whatSeoWrapperWidth = whatSeoWrapper.scrollWidth;

				// Если экран больше 1880px или блок полностью помещается, убираем анимацию
				if (window.innerWidth > 1880 || whatSeoWrapperWidth <= scrollWrapperWidth) {
					// Если анимация уже запущена, останавливаем её
					if (timeline) {
						timeline.kill(); // Останавливаем анимацию
						timeline = null; // Сбрасываем переменную
						gsap.set(whatSeoWrapper, { x: 0 }); // Возвращаем блок в начальное положение
					}
					return;
				}

				// Инициализируем GSAP анимацию, если её нет
				if (!timeline) {
					timeline = gsap.timeline({
						repeat: -1, // Бесконечная анимация
						yoyo: true, // Движение туда и обратно
						defaults: { duration: 10, ease: "linear" } // Длительность и плавность
					});

					timeline.to(whatSeoWrapper, {
						x: `-${whatSeoWrapperWidth - scrollWrapperWidth}px` // Движение влево
					});
				}
			}

			// Инициализация при загрузке страницы
			initAnimation();

			// Обработка ресайза
			window.addEventListener('resize', () => {
				initAnimation();
			});			