.btn,
.btn[type],
.tag,.tag-slim, .btn-black, .btn-black-64{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-shrink: 0;
	border-radius: 35px;
	font-family: $ft;
	transition: .3s; 
}
.btn:hover,
.btn[type]:hover{opacity: .5;}
.btn, .btn[type]{
	padding-inline: 46px;
	background-color: $dark;
	color: $white;
	border:1px solid #f9f9f9;
	height: 46px;
	font-size: 20px;
	font-weight: 700;
	column-gap: 10px;
	cursor: pointer;
	@media (max-width: 1439px) {font-size: 18px;}
	
}
.btn.btn--black{
	background-color: #131313;
	background-color: rgb(19, 19, 19);;
	border-color: #131313;
	font-weight: 900;
	color: $white;
	font-family: $ff;
	letter-spacing: 0.07em;
	@media (max-width: 767px) {height: 47px;}
}
.tag{
	height: 47px;
	padding-inline:38px;
	background-color: transparent;
	font-weight: 600;
	font-size: 24px;
	font-family: $ft;
	color: $lightText;
	flex-shrink: 0;
	column-gap:6px;
	border: 1px solid currentColor;
	&.active{
		background-color: #fff;
		color: $dark;
	}
	@media (max-width: 1699px) {
		height: 38px;
		padding-inline: 30px;
		font-size: 18px;
	}
}
.tag.tag--mini{
	font-size: 14px;
	background-color: $dark;
	font-family: $ff;
	color: white;
	@media (max-width: 767px) {
	  padding-left: 22px;
	  padding-right: 22px;
	}
}
.tag.tag--grey{
	 background-color: #949494;
}

.tag-slim{
	cursor: default;
	height: 40px;
	font-size: 14px;
	column-gap: 5px;
	font-family: $ff;
	padding-inline: 22px;
	background-color: $dark;
	&:hover{opacity: 1;}
	@media (max-width: 1699px) {
	  height: 31px;
	}
}
.btn-play{
	width: 126px;
	height: 126px;
	border-radius: 50%;
	display: block;
	background-image: url('../img/play-button.webp');
	background-size: contain;
	@media (max-width: 1023px) {
	   width: 53px;
	   height: 53px;
	}
}
.btn-outline{
	padding-left: 38px;
	padding-right: 38px;
	border:1px solid #000;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	height: 47px;
	border-radius: 50px;
	transition: .3s; 
	font-family: $ff;
	&:hover{
		color: white;
		background-color: #000;
	}
	@media (max-width: 1699px) {
		height: 40px;
		padding-inline: 30px;
		font-size: 18px;
	}
	@media (max-width: 1364px) {
		height: 40px;
		padding-inline: 28px;
		font-size: 14px;
	}
}
.btn-accent, .btn-accent[type="submit"], .btn-grey, .btn-grey[type="submit"], .btn-black-64, .btn-black-64[type="submit"]{
	padding-left: 46px;
	padding-right: 46px;
	border-radius: 40px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	justify-content: center;
	column-gap:10px;
	transition: .3s;
	font-size: 20px;
	color: white;
}
.btn-accent{
	height: 64px;
	background-color: $accent;
	font-family: $ff;
	font-weight: 900;
	 
	&:hover{background-color: #e57321;}
	@media (max-width: 1439px) {height: 60px;}
	@media (max-width: 767px) {height: 50px;}
}
.btn-grey,.btn-black, .btn-black-64{
	height: 52px;
	font-weight: 700;
	font-family: $ft;
	background: #4d4e4f;
}
.btn-black, .btn-black-64{
	padding-left: 36px;
	padding-right: 36px;
	color: #fff;
	background-color: #282828;
	font-family: $ft;
	font-size: 20px;
}
.btn-black-64{
	height: 64px;
	padding-left: 45px;
	padding-right: 45px;
}