extends ../layouts/layout-swiper.pug

block content
	.page-column
		include ../sections/_header.pug
		//==== MAIN =====
		main.inner-main
			include ../sections/_promo-seo.pug
			include ../sections/_seo-map.pug
			
			
		//==== FOOTER =====
		include ../sections/_footer.pug
	
block variables
	-var title = "SEO";
