extends ../layouts/layout-slick.pug

block content
	include ../sections/_header.pug
	//==== MAIN =====
	main.inner-main
		include ../sections/_inner-promo.pug
		include ../sections/_single-article.pug
	//==== FOOTER =====
	include ../sections/_footer.pug
	
	
	
block variables
	-var title = "Одна статья";
