mixin info-card(title, txt, icon, iconW, iconH)
	.info-card
		if icon
			.info-card__icon
				img(src="./img/info-cards/icon"+ icon +".svg", width= iconW height=  iconH alt="icon")
		
		.info-card__title !{title}
		p !{txt}

mixin info-card-ui(title, txt, icon, iconW, iconH)
	.info-card
		if icon
			.info-card__icon
				img(src="../img/info-cards/icon1.svg", alt="icon")
		
		.info-card__title !{title}
		p !{txt}
		