header.header
	.container
		.header-container
			a(href="#!").logo
				svg.svg-logo
					use(href='./img/sprite.svg#svg-logo')
			//======nav menu ======
			.main-menu-wrapper#header-menu
				.main-menu
					ul.menu-list
						li.menu-item.has-drop
							a.drop__link(href="#!") Услуги
							
							//==== MENU LIST WRAPPER ====
							.menu-list-drop
								.container
									//==== MENU LIST ====
									ul.drop-list
										//=====single ListItem ====
										li.drop-list__item.has-sub-drop
											a.sub-drop__link(href="#!") Контекстная реклама
											//==== выпадающее подменю ====
											ul.sub-drop-list
												li
													a(href="#!") Настройка контекстной рекламы
												li
													a(href="#!") Контекстная реклама в Яндекс Директ
												li
													a(href="#!") Контекстная реклама в Google Ads
												li
													a(href="#!") Аудит контекстной рекламы
										//=====single ListItem ====
										li.drop-list__item.has-sub-drop
											a.sub-drop__link(href="#!") Таргетированная реклама
											//==== выпадающее подменю ====
											ul.sub-drop-list
												li
													a(href="#!") Настройка таргетированной рекламы
												li
													a(href="#!") Таргетированной реклама Вконтакте
												li
													a(href="#!") Таргетированная реклама MyTarget
												li
													a(href="#!") Аудит таргетированной рекламы
										//=====single ListItem ====
										li.drop-list__item.has-sub-drop
											a.sub-drop__link(href="#!") Веб-дизайн / Иллюстрация
											//==== выпадающее подменю ====
											ul.sub-drop-list
												li
													a(href="#!") Редизайн
												li
													a(href="#!") Рекламная сеть Яндекс (РСЯ)
												li
													a(href="#!") Контекстно-медийная сеть (КМС) Google
												
										//=====single ListItem ====
										li.drop-list__item.has-sub-drop
											a.sub-drop__link(href="#!") Комплексный маркетинг
											//==== выпадающее подменю ====
											ul.sub-drop-list
												li
													a(href="#!") Соцсети
												li
													a(href="#!") Рекламная сеть Яндекс (РСЯ)
												li
													a(href="#!") Контекстно-медийная сеть (КМС) Google
												li
													a(href="#!") Режим реального времени (RTB)
										//=====single ListItem ====
										li.drop-list__item.has-sub-drop
											a.sub-drop__link(href="#!") Разработка сайтов
											//==== выпадающее подменю ====
											ul.sub-drop-list
												li
													a(href="#!") Рекламная сеть Яндекс (РСЯ)
												li
													a(href="#!") Контекстно-медийная сеть (КМС) Google
												li
													a(href="#!") Режим реального времени (RTB)
												
										//=====single ListItem ====
										li.drop-list__item
											a.sub-drop__link(href="#!") Запись подкаста
										
										//=====single ListItem ====
										li.drop-list__item
											a.sub-drop__link(href="#!") Видео продакшн
											//==== выпадающее подменю ====
											ul.sub-drop-list
												li
													a(href="#!") Проморолик
												li
													a(href="#!") Имиджевый ролик
												li
													a(href="#!") Корпоративное видео
												li
													a(href="#!") Реклама
										
										//=====single ListItem ====
										li.drop-list__item
											a.sub-drop__link(href="#!") SMM
											//==== выпадающее подменю ====
											ul.sub-drop-list
												li
													a(href="#!") Соцсети
												li
													a(href="#!") Рекламная сеть Яндекс (РСЯ)
												li
													a(href="#!") Контекстно-медийная сеть (КМС) Google
												li
													a(href="#!") Режим реального времени (RTB)
										//=====single ListItem ====
										li.drop-list__item
											a.sub-drop__link(href="#!") SEO (продвижение сайтов)
											//==== выпадающее подменю ====
											ul.sub-drop-list
												li
													a(href="#!") SEO продвижение сайтов
												li
													a(href="#!") Продвижение сайтов в Яндекс
												li
													a(href="#!") Продвижение сайтов в Google
												li
													a(href="#!") SEO-сопровождение
										//=====single ListItem ====
										li.drop-list__item
											a.sub-drop__link(href="#!") Контент
											//==== выпадающее подменю ====
											ul.sub-drop-list
												li
													a(href="#!") Reels  / Shorts / Клипы ВК
												li
													a(href="#!") Запись видео подкаста под ключ
												
								
									//======= RIGHT IMAGE =====
									.menu-list-img
										img(src="./img/menu-img.webp", srcset="./img/menu-img@2x.webp 2x" width="445" height="515" alt="img")
						li.menu-item
							a.menu-link(href="#!") Кейсы
						li.menu-item
							a.menu-link(href="#!") О компании
						li.menu-item
							a.menu-link(href="#!") Блог
						li.menu-item
							a.menu-link(href="#!") Контакты
			//====== right content ======
			.phone-contacts
				a(href="tel:+79006566903").phone-link +7 900 656 69 03
			button.btn Заявка
			//====== menu-toggle =====
			button.menu-toggle#menu-toggle
				span