section.promo.inner-promo
	.container
		.breadcrumbs
			ul
				li 
					a(href="#!") Главная
				li 
					a(href="#!") Услуги
				li 
					a(href="#!") Что такое ИКС и как его увеличить?
		.promo-banner.flex
			
			//=== title block ===
			.promo-title
				h1.h1 Что такое<br> ИКС и как его увеличить?
				
			//====bottom row ====
			.promo-bottom.flex
				.tags-wrapper
					.tag 👏 290
					.tag
						svg.svg-eye
							use(href='./img/sprite.svg#svg-eye')
						|290
					p.bold-20 7 min read
				

			.promo-image
				img(src="./img/promo.svg", alt="img")
