extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	main.main
		include ../sections/_promo.pug
		include ../sections/_catalogy.pug
	include ../sections/_footer.pug
	
	
	
block variables
	-var title = "Savov";
