extends ../layouts/layout-swiper.pug

block content
	.page-column
		
		//==== MAIN =====
		main.inner-main
		.modal-frame.modal-frame--order(data-modal="place-order")
			.modal-frame-wrapper
				.modal-frame-content
					.modal-title Оставьте заявку 
					.modal-subtitle Мы подготовим предложение и поможем определиться с выбором услуг 
					form.modal-form(action="" method="method")
						.form-item
							input.form-input(type="text" placeholder="Имя")
							span.form-input-state
						.form-item
							input.form-input.phone(type="tel" placeholder="+7(  )")
							span.form-input-state

			
			
		//==== FOOTER =====
		include ../sections/_footer.pug
	
block variables
	-var title = "Оформиь заказ";