mixin card
	.product-card
		a(href="single-article.html").product-card__img
			.tags-wrapper
				.tag-slim #Яндекс директ
			.tags-wrapper.tags-wrapper--hover
				.tag-slim 👏 290
				.tag-slim
					svg.svg-eye
						use(href='./img/sprite.svg#svg-eye')
					|290
			img(src="./img/card.webp", srcset="./img/card@2x.webp 2x" width="467"  height="319" alt="img")
		
		.product-card__body
			.txt-18 Время прочтения: 7 мин.
			.h3
				a(href="single-article.html") В Яндекс Дзене теперь можно публиковать рекламные посты
			p.txt-14 Что такое контекстная реклама? В чём отличие поисковой рекламы от баннерной? Как расшифровывается РСЯ и КМС? На эти и другие вопросы я отвечаю в данном коротком ролике.

//- mixin card2
//- 	.product-card
//- 		a(href="#!").product-card__img
//- 			.tags-wrapper
//- 				.tag-slim #Яндекс директ
				
//- 			img.lazy(src="../img/card.webp", srcset="../img/card.webp 2x" width="467"  height="319" alt="img")
		
//- 		.product-card__body
//- 			.txt-18 Время прочтения: 7 мин.
//- 			.h3
//- 				a(href="#!") В Яндекс Дзене теперь можно публиковать рекламные посты
//- 			p.txt-14 Что такое контекстная реклама? В чём отличие поисковой рекламы от баннерной? Как расшифровывается РСЯ и КМС? На эти и другие вопросы я отвечаю в данном коротком ролике.

mixin card3
	.product-card.hidden
		a(href="single-article.html").product-card__img
			.tags-wrapper
				.tag-slim #Яндекс директ
				
			img(src="./img/card.webp", srcset="./img/card@2x.webp 2x" width="467"  height="319" alt="img")
		
		.product-card__body
			.txt-18 Время прочтения: 7 мин.
			.h3
				a(href="single-article.html") В Яндекс Дзене теперь можно публиковать рекламные посты
			p.txt-14 Что такое контекстная реклама? В чём отличие поисковой рекламы от баннерной? Как расшифровывается РСЯ и КМС? На эти и другие вопросы я отвечаю в данном коротком ролике.